/* ---Header box-shadow--- */
.header-box {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* ---First Menu Item--- */
.menu-item:first-child .link {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---After pseudo-element for the first menu item--- */
.menu-item:first-child .link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

/* ---Contact Items Transition--- */
.contact-item .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---Hero Section Background--- */
.title-hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/img-name.jpeg");
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ---Service Button Transition--- */
.button-service {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---Benefits List Icons Container--- */
.benefits-list-item .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

/* ---SVG Icon inside icon-container--- */
.benefits-list-item .icon-container svg {
  width: 64px;
  height: 64px;
}

/* ---Social Media List in Footer--- */
.footer-box .social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-box .social-media-item {
  width: 40px;
  height: 40px;
}

.footer-box .social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box .social-media-link:hover,
.footer-box .social-media-link:focus {
  background-color: #404bbf;
}

.footer-box .social-media-link svg {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

/* ---Portfolio Items Hover--- */
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .text-images {
  transform: translateY(0%);
}

.portfolio-item .image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-item .text-images {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
